@import nib


// INIT GENERAL STYLES AND VARIABLES=====================
gris = #EBEBEB
darkGris = #707070
textGris = #C7C7C7
morado = #8F33C4
darkMorado = #701DBB

body
	font-size 16px

.inlineBlock
	display inline-block

.noPadding
	padding 0

// END OF GENERAL STYLES AND VARIABLES===================

// INIT NAVIGATION TYLES==============================================

header
	background gris
	height 230px	
	font-size 0.8em

	.container
		max-width 991px

		.row
			#navUp
				align-items center
				display flex
				height 130px

				.logo
					figure
						position relative
						left -0.5em
						img
							height 65px
							width 270px

				.quick
					color textGris
					font-weight bold
					position relative

					&-link
						position relative
						padding-right 2em

						span
							font-size 1.8em
							position absolute
							top -0.2em
							right -0.25em			

					&-line
						border-right 0.1em solid textGris
						height 25px
						left 8.8em
						position absolute
						top -0.4em

					&-control
						color darkMorado
						padding-right 2.5em
						position relative

						&-up, &-down
							cursor pointer
							font-size 1.3em
							font-weight 900
							position absolute
							right 0.4em
							top 0
							transition 0.3s all ease-out

							&:hover
								font-size 2.2em
								text-shadow 0.1em 0.1em 0.2em rgba(darkGris, .75)
								right 0em

						&-up
							top -0.36em

							&:hover
								top -0.8em

						&-down
							top 0.18em
							
							&:hover
								top 0em

				.search
					padding 0.7em 0 0 1em
					height 46px
					background white
					position relative
					vertical-align bottom

					input
						color morado
						border none
						display inline-block
						font-size 0.9em
						height 80%
						outline none
						transition 0.6s font-size ease-in-out
						width 80%
						
						&:focus
							font-size 1.1em

					span
						color darkMorado
						cursor pointer
						font-size 2em
						font-weight 200
						position absolute
						right 0.6em
						top 0.3em
						transform scale(-1, 1)

			#navigator
				div
					height 113px
					padding 0
					position relative

					ul
						padding 0
						position absolute
						letter-spacing -0.5em

						li
							background linear-gradient(bottom, #F0F0F9, white 55%)
							border-bottom 5px solid morado
							box-shadow 4px 4px 7px rgba(black, 0.6)
							color darkGris
							cursor pointer
							font-size 1.3em
							font-weight bold
							height 113px
							letter-spacing 0
							padding-top 1.7em
							position relative
							transition border-bottom 0.4s ease-in-out
							width 165px
							z-index 50

							.icon, .title
								display block
								text-align center

							.icon
								font-size 1.6em 

							.title
								// 

							&:hover
								background white
								border-bottom 13px solid darkMorado
								border-right none
								box-shadow 0px 3px 7px rgba(black, 0.6)
								color darkMorado
								height 124px
								top -11px
								z-index 101

								.icon, .title
									position relative
									top 10px

						.Active
							background white
							border-bottom 13px solid #701DBB
							border-right none
							box-shadow 0px 3px 7px rgba(black, 0.6)
							color darkMorado
							height 124px
							top -11px
							width 170px
							z-index 100

							.icon, .title
								position relative
								top 10px

#home
	height 540px
	min-height 540px
	position relative

	#home-bg
		background-size cover
		background-position left
		height 540px
		overflow hidden
		position relative
		top -12px
		width 100%

	.home-circle
		background #451A4A
		border-radius 50%
		height 138px
		left 50%
		position absolute
		top 50%
		transform translate(-50%, -50%)
		width 138px

		img
			left 41px
			position relative
			top 42px

#features
	background #2D2D2D
	min-height 700px
	padding-top 4em

	> h2
		color white
		margin 0
		text-align center

	> p
		color darkMorado
		font-weight bold
		text-align center

	#map
		#map-img
			background-size contain
			background-position center
			background-repeat no-repeat
			height 247px
			width 100%

	#features-content
		color white
		.container
			.row
				text-align center
				.feature
					margin-bottom 8em
					&-icon
						position relative
						img
							margin-bottom 2em

						&:after
							background darkGris
							content ''
							display inline-block
							height 0.21em
							left 75%
							position absolute
							top 2.3em
							width 13em

					&:last-child
						.feature-icon:after
							content ''
							display none

					&-title
						margin-bottom 1em
						h3
							text-align left

					&-content
						p
							color white
							font-size 0.95em
							text-align left

	#features-screen
		background #222222
		border-top 4px solid #1E1E1E
		padding-top 5%

		.container
			max-width 95%
			min-width 95%
			padding 0
			position relative

			.row
				padding 0
				height 450px

				#screen
					background-position bottom
					background-repeat no-repeat
					background-size contain
					display block
					max-height 80%
					min-height 450px
					vertical-align bottom
					width 100%

			h2, h5
				bottom 35%
				left 50%
				position absolute
				text-align center
				text-shadow 0.05em 0.1em 0.09em rgba(0, 0, 0, .4)
				transform translate(-50%, 50%)

			h2
				color white
				margin-bottom 0.25s

			h5
				transform translate(-50%, 400%)
				color rgba(white, .30)

#team
	background #EBEBEB
	color darkGris
	padding-top 5em
	border-bottom 4px solid morado

	h2, h5
		margin 0
		text-align center

	.title-section
		margin-bottom 5em

		h2
			margin-bottom 0.25em
			overflow hidden
			position relative

			&:after, &:before
				background textGris
				border-bottom 2px solid white
				content ''
				height 4px
				position absolute
				top 0.5em
				width 25%

			&:before
				right 0

			&:after
				left 0 

		h5
			font-weight bold

	#team-members
		.container
			#members
				.row
					#slide-controls
						padding 2em 0

						.controls
							display inline-block
							left 50%
							position relative
							transform translate(-50%, 0)

							span
								background darkGris
								border-radius 50%
								cursor pointer
								display inline-block
								height 10px
								text-align center
								width 10px

							.Active
								background morado

					.member
						padding-bottom 2em

						&-img
							height 210px
							margin-bottom 2em
							position relative
							width 220px
							z-index 0

							&:before, &:after
								background white
								box-shadow 0em 0em 0.5em rgba(0, 0, 0, .5)
								content ''
								display block
								height 210px
								position absolute
								width 220px
								z-index 0

							&:before
								content ''
								background white
								transform rotate(-4deg)
								z-index 0

							&:after
								content ''

							img
								left 5px
								position absolute
								top 5px
								z-index 10

							&-social
								background morado
								bottom 5px
								height 42px
								padding-left 0.5em
								padding-top 0.2em
								position absolute
								right 5px
								width 47px
								z-index 10

								span
									text-align right
									color white
									font-size 2em

						&-name
							h4
								font-weight bold 

						&-skill
							h5
								text-align left
								font-weight bold 

			#half-cards, #wide-cards
				.row
					>div
						padding-left 0

					.half-card, .wide-card
						background white
						box-shadow 0 2px 2px rgba(grey, 0.4)
						padding 4em 6em 4em 4em
						position relative
						margin-bottom 2em

						&-option
							background morado
							cursor pointer
							height 30px
							left 0
							padding-left 0.5em
							position absolute
							top 0
							width 30px

							span
								color white
								font-size 1.3em

						&-title
							h2
								color black
								font-weight bold
								letter-spacing 0.05em
								text-align left
								margin-bottom 1em

						&-description
							p
								color morado
								font-size 0.9em
								font-weight bold
								letter-spacing 0.05em
								margin-bottom 2em

						&-content
							p
								color darkGris
								letter-spacing 0.05em
								font-size 0.9em

					.half-card
						min-height 482px

					.wide-card
						min-height 355px

footer
	font-size 0.7em
	background #373737
	color white
	padding-top 3em	

	.container
		.row
			.logo
				margin-bottom 2.5em
				figure
					position relative
					left -0.5em

					img
						height 65px
						width 270px

			.description
				margin-bottom 3.5em
				p
					font-size 0.9em
					letter-spacing 0.05em
					margin-bottom 2em
					padding-right 10em

			#foot-menu
				margin 2em 0 3em 0
				ul
					li
						cursor pointer
						margin 0 2.6em
						padding-bottom 1em

						&:after
							border-right 1px solid white
							content ''
							height 2em
							position relative
							left 3em
							width 1em

						&:last-child
							&:after
								content ''
								display none

					.Active
						border-bottom 4px solid morado

			#foot-socials
				ul
					li
						font-weight bold
						margin 0 1.9em

						span
							font-size 1.3em
							font-weight 200
							position relative
							top 0.3em
							margin-right 0.3em

		#foot-info
			margin-bottom 10em
			ul
				margin-bottom 3em

			.info
				color darkGris



// END OF NAVIGATION TYLES=======================================








